<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>SplitGate</vendor>
  <action id="org.dpigec.control">
    <description>Manage the SplitGate service</description>
    <description xml:lang="tr">SplitGate servisini yönet</description>
    <message>Authentication is required to manage SplitGate</message>
    <message xml:lang="tr">SplitGate'i yönetmek için kimlik doğrulaması gerekiyor</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@PREFIX@/lib/dpigec/dpigecctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
